#play {
    background-image: url(dsscreen.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#play-area {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    width: 45%;
    height: 55vh;
    margin: 0 auto;
    padding-top: 5%;
    color: black;
}

#comMon {
align-self: flex-end;
}

#comMonImg {
    position: absolute;
    top: 28%;
    right: 38%;
    height: 20%;
    width: 10%;
}

#userMonImg {
    position: absolute;
    left: 40%;
    top: 47%;
    height: 20%;
    width: 10%;
}

#userMon {
align-self: flex-start;
margin-top: 35%;
}

#control {
display: flex;
background: rgba(255, 255, 255, 0.3);
width: 600px;
height: 110px;
}

.moveBTN {
width: 85px;
font-size: 12px;
margin-right: 5px;
}

#wwyd {
padding: 20px;
}

#actions {
padding: 20px;
width: 357px;
}

.background {
    background-image: url(background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#playHeader {
font-size: 86px;
text-decoration: none;
text-weight: 5px;
color: white;
}

body {
color: white;
}

.monImg {
    width: 20%;
    height: 30%;
}

.pokemonListing {
flex-basis: 25%;
height: 80%;
}

.teamItem {
    flex-basis: 27%;
}

.monContainer {
    width: 40%;
    height: 150px;
}

.teamMon {
    width: 40%;
    height: 60%;
    margin-left: 75px;
}

.detailImg {
    width: 70%;
    height: 80%;
}

.win {
    text-align: center;
    margin-top: 40vh;
    font-weight: 6px;
    font-size: 36px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.monSwap {
    margin-right: 5px;
}

