<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Team</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="index.css">
</head>
<body class="background">
  <div class="d-flex justify-content-center flex-wrap">
    <div class="pokemonListing" th:each="pokemon: ${pokemonList}">
      <h3 th:text="${pokemon.name}"></h3>
      <img class="monImg" th:src="@{${'/pokemon/' + pokemon.name + '.png'}}"/>
    </div>
  </div>
  <form th:action="@{/create}" th:object="${team}" method="POST">
    <label for="pokemon1">Pokemon 1</label>
    <select id="pokemon1" th:field="*{pokemon1.name}">
      <option th:each="pokemon: ${pokemonList}" th:value="${pokemon.name}" th:text="${pokemon.name}"></option>
    </select>
    <label for="pokemon2">Pokemon 2</label>
    <select id="pokemon2" th:field="*{pokemon2.name}">
      <option th:each="pokemon: ${pokemonList}" th:value="${pokemon.name}" th:text="${pokemon.name}"></option>
    </select>
    <label for="pokemon3">Pokemon 3</label>
    <select id="pokemon3" th:field="*{pokemon3.name}">
      <option th:each="pokemon: ${pokemonList}" th:value="${pokemon.name}" th:text="${pokemon.name}"></option>
    </select>
    <label for="pokemon4">Pokemon 4</label>
    <select id="pokemon4" th:field="*{pokemon4.name}">
      <option th:each="pokemon: ${pokemonList}" th:value="${pokemon.name}" th:text="${pokemon.name}"></option>
    </select>
    <label for="pokemon5">Pokemon 5</label>
    <select id="pokemon5" th:field="*{pokemon5.name}">
      <option th:each="pokemon: ${pokemonList}" th:value="${pokemon.name}" th:text="${pokemon.name}"></option>
    </select>
    <label for="pokemon6">Pokemon 6</label>
    <select id="pokemon6" th:field="*{pokemon6.name}">
      <option th:each="pokemon: ${pokemonList}" th:value="${pokemon.name}" th:text="${pokemon.name}"></option>
    </select>
    <button type="submit">Create Team</button>
  </form>
</body>
</html>